{% extends "base.html" %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

<link rel="stylesheet" href="{% static 'index/css/b4.css' %}">
<script src="{% static 'index/js/b4.js' %}"></script>


<div id="AgregarProductoModal" class="modal" style="overflow: scroll;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light">Agregar nuevo repuesto</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'AddProduct' %}" enctype="multipart/form-data">{% csrf_token %}
                    {% for field in form_producto %}
                    <p>{{field.label}} <br>
                        {{field|add_class:"form-control text-dark"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancelar
                </button>
                <button type="submit" class="btn btn-success">
                    Agregar
                </button>
            </div>
            </form>
        </div>
    </div>
</div>

<div id="EditarProductoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light">Editar repuesto</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <form method="POST" action="{% url 'EditProduct' %}" enctype="multipart/form-data">{% csrf_token %}
                    <input type="hidden" id="id_producto_editar" name="id_producto_editar">
                    {% for field in form_editar_producto %}
                    <p> {{field.label}} <br>
                        {{field|add_class:"form-control"}}</p>
                    {% for error in field.errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                    <p class="alarma">{{error}}</p>
                    {% endfor %}
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="EliminarProductoModal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark">
                <h5 class="modal-title text-light">Eliminar repuesto</h5>
            </div>
            <div class="modal-body bg-dark text-white">
                <p class="labelmodal">¿Estás seguro?</p>
                <form method="POST" action="{% url 'DeleteProduct' %}">{% csrf_token %}
                    <input type="hidden" id="id_producto_eliminar" name="id_producto_eliminar">
            </div>
            <div class="modal-footer bg-dark text-white">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                   Volver
                </button>
                <button type="submit" class="btn btn-success">
                    Aceptar
                </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h3 class="text-center mt-2"><i class="text-secondary nav-icon fas fa-boxes"></i> Stock de Repuestos </h3>
        <div class="col-md-3 pb-2">
            <a href="#AgregarProductoModal"
                data-toggle="modal" data-dismiss="modal">
                <button type="button" class="btn btn-success">
                    Agregar Repuesto
                    <i class="fas fa-plus-circle"></i>
                </button>
            </a>
        </div>
        <div class="card card-body" style="overflow:scroll; max-height: 400px;">
            <table class="table table-hover table-secondary" id="myTable">
                <thead>
                    <tr>
                        <th># ID</th>
                        <th>Código interno</th>
                        <th>Descripción</th>
                        <th>Costo</th>
                        <th>Cantidad</th>
                        <th>Imagen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody class="text-dark">
                    {% for i in productos %}
                    <tr>
                        <td>{{i.id}}</td>
                        <td>{{i.codigo}}</td>
                        <td>{{i.descripcion}}</td>
                        <td>$ {{i.costo}}</td>
                        <td> {{i.cantidad}}</td>
                        {% if i.imagen %}
                        <td><img width="100" src="{{i.imagen.url}}" alt="producto-{{i.id}}"></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>
                            <button onclick="editarProduct('{{i.id}}', '{{i.codigo}}', '{{i.descripcion}}',
                        '{{i.costo}}','{{i.cantidad}}')" class="btn btn-dark-outline btn-sm" data-toggle="modal"
                                href="#EditarProductoModal"><img src="{% static 'index/img/editar.png' %}" alt="Error"
                                    width="30"></button>
                            <button onclick="eliminarProducto('{{i.id}}')" class="btn btn-dark-outline btn-sm"
                                data-toggle="modal" href="#EliminarProductoModal"><img
                                    src="{% static 'index/img/delete.png' %}" alt="Error" width="25"></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Error...',
                text: "{{message}}",
                footer: "Revise sus datos e intente de nuevo por favor"
            })
        </script>
    {% endfor %}
{% endif %}

{% endblock %}